MGTTG/bin/Debug/MGTTG.vshost.exe.manifest
MGTTG/obj/Debug/MGTTG.csproj.FileListAbsolute.txt
MGTTG/obj/Debug/MGTTG.exe
MGTTG/obj/Debug/MGTTG.pdb
MGTTG/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MGTTG/bin/Debug/MGTTG.exe
MGTTG/bin/Debug/MGTTG.exe.config
MGTTG/bin/Debug/MGTTG.pdb
MGTTG/bin/Debug/MGTTG.vshost.exe
MGTTG/bin/Debug/MGTTG.vshost.exe.config
MGTTG.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MGTTG.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
MGTTG.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MGTTG.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
MGTTG/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
MGTTG/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
